* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
}

body {
  background-color: #f5f5f5;
}

/*==================== header section ====================*/
nav {
  z-index: 9999;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link,
.navbar-brand {
  color: #fff;
}

header {
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}

.nav-list {
  width: 25px;
  height: 2px;
  background-color: #fff;
}

.text-typing {
  font-size: 1.8rem;
  font-weight: 700;
  width: 145px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.text-container h1 {
  font-size: 3.5rem;
}

.menu-icon, .close-icon {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.nav-container {
  position: relative;
}

body:has(.navbar-nav:target) nav {
  height: 100vh;
  background-color: #000;
}

body:has(.navbar-nav:target) .navbar-nav {
  display: flex;
  justify-content: center;
}
body:has(.navbar-nav:target) .menu-icon {
  display: none;
}
body:has(.navbar-nav:target) .close-icon {
  display: block;
}

@media (max-width: 991px) {
  .navbar-nav {
    display: none;
    position: absolute;
    width: 350px;
    text-align: center;
    top: 0;
    right: 0;
    height: 100%;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
  }
  .close-icon {
    display: none;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
  }

  .menu-icon:visited .navbar-nav {
    display: block;
  }
}

/*==================== about section ====================*/

.about .container {
  background-color: #fff;
}

.p-title {
  position: relative;
}

.about-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100px;
  height: 3px;
  background-color: #0078ff;
}

/*==================== services section ====================*/

.services-title {
  position: relative;
}

.services-title-p::after {
  content: "";
  position: absolute;
  left: calc(50%);
  transform: translate(-50%);
  bottom: -18px;
  width: 100px;
  height: 3px;
  background-color: #0078ff;
}

.card {
  padding: 40px 30px;
}

.card .icon .service-icon {
  font-size: 30px;
  transition: all 0.4s ease-in-out;
}

.card .icon .circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 10px solid #0078ff;
  /* outline: 10px solid #CDE1F8; */
  border-radius: 50%;
  padding: 14px;
  transition: all 0.4s ease-in-out;
}

.card:hover .circle {
  border: 10px solid #cde1f8;
  background-color: #0078ff;
}

.card:hover .service-icon {
  color: #fff;
}

/*==================== clients section ====================*/

.work {
  min-height: 70vh;
  background-image: linear-gradient(#0077ff79, #0077ff79),
    url(../img/counters-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.word div {
  height: 100%;
}

.client .icon .circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 10px solid #cde1f8;
  /* outline: 10px solid #CDE1F8; */
  border-radius: 50%;
  padding: 14px;
}

/*==================== portflio section ====================*/

.portfolio-title {
  position: relative;
}

.portfolio-title-p::after {
  content: "";
  position: absolute;
  left: calc(50%);
  transform: translate(-50%);
  bottom: -18px;
  width: 100px;
  height: 3px;
  background-color: #0078ff;
}

.add-btn {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #0078ff;
}

.portfolio-card img {
  transition: all 0.3s ease-in-out;
}

.img-con {
  overflow: hidden;
}

.portfolio-card:hover img {
  scale: 1.1;
}

/*==================== carousel section ====================*/

.carousel {
  min-height: 100vh;
  background-image: linear-gradient(#0077ffcc, #0077ffcc),
    url(../img/overlay-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.carousel-inner {
  top: 100px;
}

/*==================== blog section ====================*/

.blog-title {
  position: relative;
}

.blog-title-p::after {
  content: "";
  position: absolute;
  left: calc(50%);
  transform: translate(-50%);
  bottom: -18px;
  width: 100px;
  height: 3px;
  background-color: #0078ff;
}

.blog .card {
  padding: 0px;
}

.card-footer {
  height: 45px;
}

.card-footer img {
  height: 30px;
}

/*==================== contact section ====================*/

.contact {
  min-height: 100vh;
  background-image: linear-gradient(#0077ff79, #0077ff79),
    url(../img/overlay-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  box-shadow: 0 13px 8px -10px #0000001a;
}

.message,
.info {
  position: relative;
}

.send::after {
  content: "";
  position: absolute;
  left: 0;
  top: 45px;
  width: 100px;
  height: 3px;
  background-color: #0078ff;
}

textarea {
  resize: both;
  height: 150px;
}

ul {
  list-style: none;
  padding: 0;
}

.social li:hover {
  background-color: #0062d3;
  color: #fff;
  border-color: #afd5ff;
}

.social li {
  width: 50px;
  height: 50px;
}

/*==================== footer section ====================*/

footer {
  min-height: 30vh;
  background-color: #0062d3;
}
